{% extends "base.html" %}
{% block content %}
<header id='aboutheader'>
  <h1 class='infoh1'>About</h1><br>
  <p class='infopara'>I believe that you should gravitate to people who are doing productive and positive things with their lives.</p>
</header>
<div class="containerinfo">
  <h2 class='infoh2'>Learn more about me:</h2>
  <p class='aboutpara'>I am fresher and looking for job in python as a python developer.</p>
    <ul class='infolist'>
      <li>Birthday: 13 August 1995</li>
      <li>Age: 26</li>
      <li>City: Pune, India</li>
      <li>Degree: BE</li>
      <li>Email: patilsnehal2012@gmail.com</li>
    </ul>


</div>
{% endblock %}
