{% extends 'base.html' %}
{% block content %}
<form class= "jumbotron" method="POST">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.email.label}} {{form.email()}}<br>
  </div>
  <div class="form-group">
    {{form.username.label}} {{form.username()}}<br>
  </div>
  <div class="form-group">
    {{form.password.label}} {{form.password()}}<br>
  </div>
  <div class="form-group">
    {{form.pass_confirm.label}} {{form.pass_confirm()}}<br>
  </div>
  <div class="form-group">
    {{form.submit(class='btn btn-outline-primary text-uppercase')}}
  </div>

</form>
{% endblock %}
